@charset "UTF-8";
@font-face{
	src : url("../css/fonts/UhBee MiMi.ttf") format('truetype');
	font-family : "UhBee MiMi";
}
body{
		background-color : #f6e6ac;
		font-size : 30px;
 		font-family:"UhBee MiMi";
 		color : #70251a;
 		text-align: center;
}

h1{
 	font-size : 40px;
 	font-family:"UhBee MiMi";
 	color : #70251a;
 }
 textarea{
 	background-color:transparent;
 	border:none;
 }