@charset "UTF-8";
@font-face{
	src : url("../css/fonts/UhBee MiMi.ttf") format('truetype');
	font-family : "UhBee MiMi";
}
body{
		background-color : #ffeeaa;
}
/* img{
	border: 3px solid red;
	width: 100px;
	height: 100px;
	float:right;
} */
button{
	width :1000px;
	height :100px;
	background-color : #9a7557;
	border : none;
	color : #FFFFFF;
	box-shadow : 0 4px 16px rgba(102,44,29, 0.3);
	font-size : 30px;
	font-weight : bold;
	border-radius : 20px;
 	/*position : relative;*/
	top : 50%;
	left : 50%;
	/* transform : traslate(-50%,-50%);  */
	transition : 0.1s;
}
button:focus{
	outline:0;
}
button:hover{
	background-color : rgba(102,44,29, 0.8);
	cursor : pointer;
	box-shadow : 0 2px 4px rgba(102,44,29, 0.7);
}
body { text-align: center; /* Quirks Mode 를 위한 가운데 정렬 */ }
table { border-collapse: collapse; 
		background: transparent; 
		width: 600px;
		height : 150;
		text-align: center;
} 
tr { 
	border : hidden;
	text-align: center; /* left, center, right */
 }
 td { 
	border : hidden;
	text-align: center; /* left, center, right */
	font-size : 30px;
	font-weight : bold;
	font-family:"UhBee MiMi";
	color : #70251a;
	width: 600px;
 }
 